<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Album'"></head>

<body>

<div data-th-replace="layout :: top-nav"></div>
<div class="container">
    <div class="page-header">
        <h2>Information d'un album</h2>
    </div>

    <h4 th:text="'Title: ' + ${album.title}"></h4>

    <h4 th:text="'Artiste: ' + ${album.artist.name}"></h4>

    <h4>Liste des musiques: </h4>

    <ul class="list-group col-md-4">
        <li th:each="music : ${album.musics}" class="list-group-item" th:text="${music.title}"></li>
    </ul>

</div>

</body>

</html>