<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/music/add}" th:object="${music}" method="post">
    <p>Titre: <input type="text" th:field="*{title}" /></p>
    <p>Artiste: <input type="text" th:field="*{artist}" /></p>
    <p>Album: <input type="text" th:field="*{album}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>