<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des musiques</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Artiste</th>
        <th>Album</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${listMusics}">
        <td th:text="${music.title}"></td>
        <td th:text="${music.artist}"></td>
        <td th:text="${music.album}"></td>
        <td><a th:href="@{delete/{id}(id=${music.id})}">Supprimer</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>