<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Liste des musiques'"></head>

<body>

<div data-th-replace="layout :: top-nav" th:with="type='music'"></div>

<div class="container">
    <h4>Liste des musiques</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Artiste</th>
            <th>Album</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="music : ${listMusics}">
            <td th:text="${music.title}"></td>
            <td>
                <a th:href="@{/artist/id/{id}(id=${music.artist.id})}"><p th:text="${music.artist.name}"></p></a>
            </td>
            <td>
                <a th:href="@{/album/id/{id}(id=${music.album.id})}"><p th:text="${music.album.title}"></p></a>
            </td>
            <td>
                <a th:href="@{/music/edit/{id}(id=${music.id})}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/music/delete/{id}(id=${music.id})}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>